@model UserUpdateViewModel
@{
    Layout = "_AdminLayout";
}

@section custom_plugings{
    <link href="~/admin/assets/plugins/select/selectr.min.css" rel="stylesheet" type="text/css" />
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <p class="text-muted mb-0">Update User.</p>
        </div><!--end card-header-->
        <div class="card-body">
            <form asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" method="POST">
                <div class="form-group">
                    <label asp-for="Name">User Name:</label>
                    <input asp-for="Name" type="text" class="form-control" id="userName" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name:</label>
                    <input asp-for="LastName" type="text" class="form-control" id="userLastName" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" readonly type="text" class="form-control" id="userEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="roles">Roles:</label>
                    <select multiple asp-for="SelectedRoles" asp-items="@Html.GetEnumSelectList<Role>()" id="roles" class="form-control">
                    </select>
                    <span asp-validation-for="SelectedRoles" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div><!--end card-body-->
    </div><!--end card-->
</div>

@section custom_plugin_scripts{
        <script src="~/admin/assets/plugins/select/selectr.min.js"></script>
}


@section custom_scripts{
    <script>
        new Selectr('#roles', {
            multiple: true
        });

    </script>
}
