<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="section-title-wrap">
            <h2 class="section-title mb-0">Our Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav tab-style-1"
                    id="myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active"
                           id="featured-tab"
                           data-bs-toggle="tab"
                           href="#featured"
                           role="tab"
                           aria-controls="featured"
                           aria-selected="true">
                            Featured
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="bestseller-tab"
                           data-bs-toggle="tab"
                           href="#bestseller"
                           role="tab"
                           aria-controls="bestseller"
                           aria-selected="false">
                            Bestseller
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="latest-tab"
                           data-bs-toggle="tab"
                           href="#latest"
                           role="tab"
                           aria-controls="latest"
                           aria-selected="false">
                            Latest
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="featured"
                         role="tabpanel"
                         aria-labelledby="featured-tab">
                        <div class="product-item-wrap row">
                            @foreach (var product in Model)
                            {
                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a asp-controller="Product" asp-action="SingleProduct" asp-route-id="@product.Id">
                                                <img class="primary-img" src="~/client/assets/images/website-images//1-1-270x300.jpg" alt="Product Images" />
                                                <img class="secondary-img" src="~/client/assets/images/website-images//1-2-270x300.jpg" alt="Product Images" />
                                            </a>
                                            <div class="product-add-action">
                                                <ul>
                                                    <li>
                                                        <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                            <i class="pe-7s-like"></i>
                                                        </a>
                                                    </li>
                                                    <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                        <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                            <i class="pe-7s-look"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                            <i class="pe-7s-cart"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <a asp-controller="Product" asp-action="SingleProduct" asp-route-id="@product.Id" class="product-name">@product.Name</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$@product.Price</span>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    @for (int i = 0; i < product.Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star"></i></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="bestseller"
                         role="tabpanel"
                         aria-labelledby="bestseller-tab">
                        <div class="product-item-wrap row">
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-5-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-6-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Butterfly Weed</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$50.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-6-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-7-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Common Yarrow</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$65.00</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-7-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-8-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Doublefile Viburnum</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$67.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-8-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-1-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Feather Reed Grass</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$20.00</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-1-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-2-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">American Marigold</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$23.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-2-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-3-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Black Eyed Susan</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$25.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-3-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-4-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Bleeding Heart</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$30.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-4-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-5-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Bloody Cranesbill</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$45.00</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="latest"
                         role="tabpanel"
                         aria-labelledby="latest-tab">
                        <div class="product-item-wrap row">
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-7-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-8-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Doublefile Viburnum</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$67.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-8-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-1-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Feather Reed Grass</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$20.00</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-1-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-2-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">American Marigold</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$23.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-2-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-3-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Black Eyed Susan</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$25.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-5-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-6-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Butterfly Weed</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$50.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-6-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-7-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Common Yarrow</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$65.00</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-3-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-4-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Bleeding Heart</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$30.45</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="shop.html">
                                            <img class="primary-img"
                                                 src="~/client/assets/images/website-images//1-4-270x300.jpg"
                                                 alt="Product Images" />
                                            <img class="secondary-img"
                                                 src="~/client/assets/images/website-images//1-5-270x300.jpg"
                                                 alt="Product Images" />
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a href="wishlist.html"
                                                       data-tippy="Add to wishlist"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                                <li class="quuickview-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#quickModal">
                                                    <a href="#"
                                                       data-tippy="Quickview"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html"
                                                       data-tippy="Add to cart"
                                                       data-tippy-inertia="true"
                                                       data-tippy-animation="shift-away"
                                                       data-tippy-delay="50"
                                                       data-tippy-arrow="true"
                                                       data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="shop.html">Bloody Cranesbill</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">$45.00</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->