@inject IUserService userService

<!-- leftbar-tab-menu -->
<div class="leftbar-tab-menu">
    <div class="main-icon-menu">
        <a href="index.html" class="logo logo-metrica d-block text-center">
            <span>
                <img src="~/admin/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
            </span>
        </a>

        <div class="main-icon-menu-body">
            <div class="position-reletive h-100" data-simplebar style="overflow-x: hidden;">
                <ul class="nav nav-tabs" role="tablist" id="tab-menu">
                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" data-bs-trigger="hover">
                        <a href="#MetricaDashboard" id="dashboard-tab" class="nav-link">
                            <i class="ti ti-smart-home menu-icon"></i>
                        </a><!--end nav-link-->
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!--end /div-->
        </div><!--end main-icon-menu-body-->

        <div class="pro-metrica-end">
            <a href="" class="profile">
                <img src="~/admin/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle thumb-sm">
            </a>
        </div><!--end pro-metrica-end-->
    </div>
    <!--end main-icon-menu-->

    <div class="main-menu-inner">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
                <span>
                    <img src="~/admin/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                    <img src="~/admin/assets/images/logo.png" alt="logo-large" class="logo-lg logo-light">
                </span>
            </a><!--end logo-->
        </div><!--end topbar-left-->
        <!--end logo-->
        <div class="menu-body navbar-vertical tab-content" data-simplebar>
            <div id="MetricaDashboard" class="main-icon-menu-pane tab-pane" role="tabpanel"
                 aria-labelledby="dasboard-tab">
                <div class="title-box">
                    <h6 class="menu-title">Dashboard</h6>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        @if (userService.IsCurrentUserInRole(RoleNames.SuperAdmin, RoleNames.Moderator))
                        {
                            <a asp-controller="Product" asp-action="Products" class="nav-link">Products</a>
                        }
                        @if (userService.IsCurrentUserInRole(RoleNames.SuperAdmin))
                        {
                            <a asp-controller="Employee" asp-action="Employees" class="nav-link">Employees</a>
                        }
                        @if (userService.IsCurrentUserInRole(RoleNames.SuperAdmin, RoleNames.Admin, RoleNames.Moderator, RoleNames.SMM ))
                        {
                            <a asp-controller="Order" asp-action="Orders" class="nav-link">Orders</a>
                            <a asp-controller="Color" asp-action="Colors" class="nav-link">Colors</a>
                            <a asp-controller="Size" asp-action="Sizes" class="nav-link">Sizes</a>
                        }
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!-- end Dashboards -->
        </div>
        <!--end menu-body-->
    </div><!-- end main-menu-inner-->
</div>
<!-- end leftbar-tab-menu-->