@inject IUserService userService
 <!-- Top Bar Start -->
<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom" id="navbar-custom">
        <ul class="list-unstyled topbar-nav float-end mb-0">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="~/admin/assets/images/flags/us_flag.jpg" alt="" class="thumb-xxs rounded-circle">
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/images/flags/us_flag.jpg" alt="" height="15" class="me-2">English</a>
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/images/flags/spain_flag.jpg" alt="" height="15" class="me-2">Spanish</a>
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/images/flags/germany_flag.jpg" alt="" height="15" class="me-2">German</a>
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/images/flags/french_flag.jpg" alt="" height="15" class="me-2">French</a>
                </div>
            </li><!--end topbar-language-->

            @await Component.InvokeAsync("Notification");

            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <img src="~/admin/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle me-2 thumb-sm" />
                        <div>
                            <small class="d-none d-md-block font-11">
                                @string.Join(",", userService.CurrentUser.UserRoles.Select(ur => ur.Role.ToString()))
                            </small>
                            <span class="d-none d-md-block fw-semibold font-12">
                                @userService.GetCurrentUserFullName() <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i> Settings</a>
                    <div class="dropdown-divider mb-0"></div>
                    <a asp-controller="auth" asp-action="logout" class="dropdown-item"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
                </div>
            </li><!--end topbar-profile-->

        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                    <i class="ti ti-menu-2"></i>
                </button>
            </li>

            <li class="hide-phone app-search">
                <form role="search" action="#" method="get">
                    <input type="search" name="search" class="form-control top-search mb-0" placeholder="Type text...">
                    <button type="submit"><i class="ti ti-search"></i></button>
                </form>
            </li>
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->